<div class="row">
    <div class="col">
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/logomandarina.ico" width="30px" height="30px" style="margin-right: 10px;">
    <a href="#" class="navbar-brand">La Mandarina Mecánica</a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a href="inicio" class="nav-link">inicio</a>
            </li>
            <li class="nav-item ">
                <a href="perfil" class="nav-link">Mi Perfil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a href="compras" class="nav-link">Compras</a>
            </li>
            <li class="nav-item">
                <a href="carrito" class="nav-link">
                    Carrito de Compras<span class="badge badge-danger">{{carrito?.totalProducts}}</span></a>

            </li>
            <li class="nav-item">
                <a href="wish" class="nav-link">
                        Wishlist<span class="badge badge-danger">{{wishlist?.totalProducts}}</span></a>

            </li>
            <li class="nav-item ">
                <a href="pago" class="nav-link">Pago</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
        Catálogo
      </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a href="hogar" class="dropdown-item">Hogar</a>
                    <a href="arte" class="dropdown-item">Arte</a>
                    <a href="electrodomesticos" class="dropdown-item">Electrodomésticos</a>
                </div>
            </li>
            <li class="nav-item">
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a data-highlightable="1" href="#" (click)="auth.signOut()" class="nav-link gjs-hovered">Cerrar Sesión</a>
        </form>
    </div>
</nav>