<!-- Determina si el usuario esta autenticado o es un invitado-->
<div *ngIf="auth.User | async; then authenticated"></div>

<!-- Se usa el #authenticated para renderisar el template dependiendo de la respuesta del servicio auth de firestore -->
<!-- Esto con tal de poder hacer uso de una navegación basada en roles-->


<!--Template para usuario autenticadoe-->
<ng-template #authenticated>
    <div *ngIf="auth.User | async as User">
        <div *ngIf="User.role === 'customer'">
            <app-navbar-user></app-navbar-user>
        </div>
        <div *ngIf="User.role === 'admin'">
            <app-navbar-admin></app-navbar-admin>
        </div>
        <section id="team" class="pb-5">
            <div class="container">
                <h5 class="section-title h1">Mi Wishlist</h5>
                <br>
                <div class="col text-center">
                    <button (click)="LimpiarWishList(User.uid)" class="btn btn-dark">Limpiar Wishlist</button>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let producto of ListaDeseo.products; let i = index">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src={{producto.photoUrl}} alt="card image"></p>
                                            <h4 class="card-title">{{producto.name}}</h4>
                                            <p class="card-text">Precio: ${{producto.price}}</p>
                                            <div *ngIf="producto.variacion == undefined">
                                                <p class="card-text">No tiene Variacion</p>
                                            </div>
                                            <div *ngIf="producto.variacion != undefined">
                                                <p class="card-text">Variacion: {{producto.variacion}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{producto.name}}</h4>
                                        <p class="card-text">{{producto.description}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="list-inline">
                                            <li class="list-inline-item align-content-center">
                                                <button (click)="AnadirCarrito(producto,User.uid, i)" class="btn btn-primary btn-sm">Agregar al carrito</button>
                                            </li>
                                            <li class="list-inline-item align-content-center">
                                            </li>
                                            <button (click)="eliminarProducto(producto,User.uid, i)" class="btn btn-danger btn-sm">Eliminar</button>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</ng-template>