.c1955 {
    min-height: 75px;
}

.c1999 {
    min-height: 300px;
    height: auto;
}

.c2042 {
    min-height: 20px;
}

.c2594 {
    min-height: 75px;
}

.c2636 {
    min-height: 75px;
}

.c6024 {
    width: 100%;
}

.btn.btn-primary.btn-lg.btn-block {
    background-color: #FF530D;
    border: 1px solid #FF530D;
}

.top-space {
    margin-top: 3vh
}

.ghost {
    display: none;
}

.invoice-title h2,
.invoice-title h3 {
    display: inline-block;
}

.table>tbody>tr>.no-line {
    border-top: none;
}

.table>thead>tr>.no-line {
    border-bottom: none;
}

.table>tbody>tr>.thick-line {
    border-top: 2px solid;
}