<app-navbar-admin></app-navbar-admin>

<div class="row">
    <div class="col text-center">
        <button (click)="openCreateModal(CreateTemplate)" class="btn btn-outline-dark">Crear Producto</button>
    </div>
</div>

<section id="team" class="pb-3">
    <div class="container">
        <h5 class="section-title h1">Vista del administrador</h5>
        <div class="col text-center">
            <button (click)="deshabilitar()" class="btn btn-outline-dark">deshabilitar piloto</button>
        </div>
        <br>
        <div class="col text-center">
            <button (click)="habilitar()" class="btn btn-outline-dark">habilitar piloto</button>
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let producto of productos">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src={{producto.photoUrl}} alt="card image"></p>
                                    <h4 class="card-title">{{producto.name}}</h4>
                                    <p class="card-text">{{producto.department}}</p>
                                    <p class="card-text">Precio: ${{producto.price}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{producto.name}}</h4>
                                    <p class="card-text">{{producto.description}}</p>

                                </div>
                                <div class="card-footer">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <button (click)="editProduct(Edittemplate, producto)" class="btn btn-primary btn-sm">editar</button>
                                        </li>
                                        <li class="list-inline-item align-self-end">
                                            <button (click)="openConfirm(Confirmtemplate, producto)" class="btn btn-danger btn-sm">Eliminar</button>
                                        </li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <button (click)="PromocionProduct(Promociontemplate, producto)" class="btn btn btn-outline-dark btn-sm">Promocion</button>
                                        </li>
                                        <li class="list-inline-item align-self-end">
                                            <button (click)="Recomendado(producto)" class="btn btn btn-outline-dark btn-sm">Recomendado</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #Promociontemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Seleccione un precio</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="PromocionRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
    </div>
    <div class="modal-body">
        <form #promo="ngForm" class="form" id="PromoForm">
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="precio"><h4>Precio</h4></label>
                    <input [(ngModel)]="priceValue" #precio="ngModel" ngModel type="number" class="form-control" name="precio" id="precio" placeholder="Introduzca el precio">
                </div>
            </div>
            <div *ngIf="promocionProducto.variaciones.length>0" class="form-group">
                <label for="variacion">Variaciones</label>
                <select [(ngModel)]="VariacionPromocion" name="variacion" id="variacion" class="form-control" id="exampleFormControlSelect2">
                            <option *ngFor="let variacion of promocionProducto.variaciones">{{variacion.value}}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <br>
                    <button class="btn btn-primary" (click)="crearPromocion(promo)" type="submit">Crear promocion
                            </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #Confirmtemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmar acción</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        ¿Desea borrar de forma permanente el producto seleccionado?
        <br><br>
        <button (click)="delete()" class="btn btn-success" type="button">Sí</button>
        <button (click)="confirmRef.hide()" class="btn btn-danger btn-cancelar" type="button">No</button>
    </div>
</ng-template>

<ng-template #CreateTemplate>
    <div class="modal-header">
        <h4 class="modal-title fa-pull-right">Nuevo producto</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="text-center">
                        <img *ngIf="this.image==null" src="/assets/no-photo.png" class="img-thumbnail" alt="avatar">
                        <img *ngIf="this.image!=null" src={{this.image}} class="img-thumbnail" alt="avatar">
                        <h6>Seleccione la foto para el producto</h6>
                        <br>

                        <div class="container">
                            <progressbar [value]="uploadProgress| async" type="primary" [striped]="true" [animate]="true"></progressbar>

                            <div class="item">
                                Progress: {{ (uploadProgress | async) / 100 | percent }}
                            </div>
                            <br>

                            <div class="item">
                                <input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
                                <button type="button" class="btn btn-primary" (click)="inputFile.click()">
                                Subir foto
                                <i class="fas fa-upload"></i>
                            </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="tab-content">
                        <form #productoForm="ngForm" class="form" id="CreateForm">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="name"><h4>Nombre</h4></label>
                                    <input [(ngModel)]="productoNuevo.name" #name="ngModel" ngModel type="text" class="form-control" name="name" id="name" placeholder="Nombre del producto">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="descripcion"><h4>Descripción</h4></label>
                                    <textarea [(ngModel)]="productoNuevo.description" #descripcion="ngModel" ngModel type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion del producto"></textarea>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="precio"><h4>Precio</h4></label>
                                    <input [(ngModel)]="productoNuevo.price" #precio="ngModel" ngModel type="number" class="form-control" name="precio" id="precio" placeholder="Introduzca el precio">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department">Departamento</label>
                                <select [(ngModel)]="OpcionDepartamento" name="department" id="department" class="form-control" id="exampleFormControlSelect1">
                                      <option>arte</option>
                                      <option>hogar</option>
                                      <option>electrodomesticos</option>
                                    </select>
                            </div>
                            <div class="col-xs-6">

                                <button (click)="openVariaciones(CreateVariaciones)" class="btn btn-success btn-sm" type="button">
                                        Agregar variaciones
                                    </button>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button (click)="createProduct(productoForm)" class="btn btn-primary" type="submit">Crear Producto
                                            <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Modal añadir Variaciones -->
<ng-template #CreateVariaciones>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Formulario para añadir una variación </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createModalRef2.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">
        <form #variacion="ngForm" class="form" id="variacionForm">
            <div class="form-group">
                <label for="variacionValue"><h4>Variacion</h4></label>
                <input #variacionValue="ngModel" ngModel type="text" class="form-control" name="variacionValue" id="variacionValue" placeholder="valor">
                <small>ejemplo Talla S</small>
            </div>
        </form>
        <button class="btn btn-primary" type="submit" (click)="AgregarVariacionCreate(variacion, CreateTemplate)">Añadir Variacion
            </button>
        <button type="button" class="btn btn-cancelar btn-danger" (click)="closeVariacionModal(CreateTemplate)">Cancelar
            </button>
    </div>
</ng-template>


<!-- Modal para editar el producto -->
<ng-template #Edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{productoSelecionado.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <!--Foto-->
                    <div class="text-center">
                        <img *ngIf="productoSelecionado.photoUrl==null" src="/assets/no-photo.png" class="img-thumbnail" alt="avatar">
                        <img *ngIf="productoSelecionado!=null" src={{productoSelecionado.photoUrl}} class="img-thumbnail" alt="avatar">
                        <h6>Seleccione una nueva foto</h6>
                        <br>

                        <div class="container">
                            <!--Barra de progreso-->
                            <progressbar [value]="uploadProgress| async" type="primary" [striped]="true" [animate]="true"></progressbar>

                            <!--Muestra el progreso de la barra-->
                            <div class="item">
                                Progress: {{ (uploadProgress | async) / 100 | percent }}
                            </div>
                            <br>

                            <!--Se sube una nueva foto para el usuario-->
                            <div class="item">
                                <input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
                                <button type="button" class="btn btn-lg btn-success" (click)="inputFile.click()">
                                    Subir foto
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="tab-content">
                        <form #f="ngForm" class="form" id="ProductForm">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="name"><h4>Nombre</h4></label>
                                    <input [(ngModel)]="nameValue" #name="ngModel" ngModel type="text" class="form-control" name="name" id="name" placeholder="Nombre del producto">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="descripcion"><h4>Descripción</h4></label>
                                    <textarea [(ngModel)]="descriptionValue" #descripcion="ngModel" ngModel type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion del producto"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department">Departamento</label>
                                <select [(ngModel)]="OpcionDep" name="department" id="department" class="form-control" id="exampleFormControlSelect1">
                                          <option>arte</option>
                                          <option>hogar</option>
                                          <option>electrodomesticos</option>
                                        </select>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="precio"><h4>Precio</h4></label>
                                    <input [(ngModel)]="priceValue" #precio="ngModel" ngModel type="number" class="form-control" name="precio" id="precio" placeholder="Introduzca el precio">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="variacion">Variaciones</label>
                                <select [(ngModel)]="SelectedVar" name="variacion" id="variacion" class="form-control" id="exampleFormControlSelect2">
                                              <option *ngFor="let variacion of productoSelecionado.variaciones">{{variacion.value}}</option>
                                            </select>
                            </div>
                            <div class="col-xs-6">

                                <button (click)="openVariacionesEdit(EditVariaciones)" class="btn btn-success btn-sm" type="button">
                                            Agregar variaciones
                                        </button>

                                <button (click)="deleteVariaciones(SelectedVar)" class="btn btn-danger btn-sm" type="button">
                                            Eliminar variacion
                                </button>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-primary" (click)="updateProduct(f)" type="submit">Actualizar
                                        </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Modal editar Variaciones -->
<ng-template #EditVariaciones>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Formulario para añadir una variación </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createModalRef3.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body">
        <form #editvariacion="ngForm" class="form" id="variacionForm">
            <div class="form-group">
                <label for="variacionValue"><h4>Variacion</h4></label>
                <input #variacionValue="ngModel" ngModel type="text" class="form-control" name="variacionValue" id="variacionValue" placeholder="valor">
                <small>ejemplo Talla S</small>
            </div>
        </form>
        <button class="btn btn-primary" type="submit" (click)="editVariacion(editvariacion, Edittemplate)">Añadir Variacion
                </button>
        <button type="button" class="btn btn-cancelar btn-danger" (click)="closeVariacionEditModal(Edittemplate)">Cancelar
                </button>
    </div>
</ng-template>