<footer class="footer footer-1 bg-dark text-light p-5">
    <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-xl-9 col-lg-9 col-sm-6">
      <address>Seane Correa
        <br/>Daniela Sánchez
      </address>
      </div>
      <div class="col-12 col-md-3 col-xl-3 col-lg-3 col-sm-6">
      <ul class="list-unstyled">
        <li>
            <img src="assets/logomandarina.ico" width="30px" height="30px" style="margin-right: 10px;">
        <a href="#" class="text-light">La Mandarina Mecánica</a>
        </li>
        <li>
        <a class="text-light">Proyecto Sistemas de Información</a>
        </li>
      </ul>
      </div>
    </div>
    </div>
    <div class="container mt-1 border-top">
    <p data-type="paragraph" class="text-center mt-4">Universidad Metropolitana
    </p>
    </div>
  </footer>