.c5071{
    fill:#fff;
  }
  .c5210{
    fill:#fff;
  }
  .c5346{
    fill:#fff;
  }
  .c5482{
    fill:#fff;
  }
  .c6182{
    width:30%;
  }
  .c6410{
    width:50%;
  }
  .c6625{
    width:80%;
  }
  .c6675{
    position:absolute;
    transform:translate3d(-147px, 27px, 0px);
    top:0px;
    left:0px;
    will-change:transform;
  }
  .c6862{
    width:90%;
  }