<div class="row">
    <div class="col">
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/logomandarina.ico" width="30px" height="30px" style="margin-right: 10px;">
    <a href="#" class="navbar-brand">La Mandarina Mecánica</a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="perfil" class="nav-link">Mi Perfil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a href="admin" class="nav-link">Administrar</a>
            </li>
            <li class="nav-item">
                <a href="usuarios" class="nav-link">Usuarios</a>
            </li>
            <li class="nav-item">
                <a href="especial" class="nav-link">Recomendados/Promociones</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a data-highlightable="1" href="#" (click)="auth.signOut()" class="nav-link gjs-hovered">Cerrar Sesión</a>
        </form>
    </div>
</nav>